/*==========================================================================*/
/*Author's custom styles*/
/*==========================================================================*/

.footer {
    position: absolute;
    top: 0;
    left: 0;
}

.play-area {
    z-index: -1;
}

.ui-controlgroup .ui-controlgroup-controls {
    width: 100%;
}

.control-panel {
    position: absolute;
    right: 10px; /*Prevent scroll bars.  This line was probably necessary after changing the default font in the buttons*/
    top: 50px;
    width: 20%;
    max-width: 200px;
}

.footer {
    overflow: hidden; /* add this to contain floated children */
}

.speed-buttons {
    width: 300px;
    float: left; /* add this */
    border: 1px solid red;
}

.play-pause-button {
    border: 1px solid green;
    float: left; /* add this */
}

#overlay {
    /*This one is not cross platform and will probably fail*/
    pointer-events: none;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
}

#overlay img {
    width: 20%;
    height: auto;
}

.buttonGroupSameWidth button {
    width: 150px;
    display: block;
}

.controlPanelButton {
    overflow: hidden;
}

.controlPanelButtonLabel {
    overflow: hidden;
}

.footer div {
    overflow: hidden;
}

.controlPanelButtonLabel input {
    float: left;
}

.reset-buttons {
    width: 100%;
    margin-top: 10px;
}

.footer .btn-group button label input {
    margin-right: 5px;
}