<!--Template for each tab.  Defined in the root directory so that image references don't have to between development/runtime (so that IDE navigation/highlighting works for them)-->
<div id="<%= id%>" class="tab">

    <canvas class="play-area"></canvas>

    <!--Has to go in front of canvas but behind buttons so couldn't factor it out of tab-->
    <!--<ul class="nav nav-pills">-->
    <!--<li class="introductionTabButton"><a href="#">Introduction</a></li>-->
    <!--<li class="frictionTabButton"><a href="#">Friction</a></li>-->
    <!--<li class="trackPlaygroundTabButton"><a href="#">Track Playground</a></li>-->
    <!--</ul>-->

    <div class="control-panel">
        <div class="btn-group-vertical buttonGroupSameWidth">
            <button type="button" class="btn barGraphButton controlPanelButton"><label class="controlPanelButtonLabel"><input type="checkbox"><%=
                barGraph %></label></button>
            <button type="button" class="btn barGraphButton controlPanelButton"><label class="controlPanelButtonLabel"><input type="checkbox"><%=
                pieChart %></label></button>
            <button type="button" class="btn barGraphButton controlPanelButton"><label class="controlPanelButtonLabel"><input type="checkbox"><%= grid
                %></label></button>
            <button type="button" class="btn barGraphButton controlPanelButton"><label class="controlPanelButtonLabel"><input type="checkbox"><%=
                speed %></label></button>
        </div>
        <div class="reset-buttons btn-group-vertical buttonGroupSameWidth">
            <button type="button" class="btn return-skater-button controlPanelButton">Return Skater</button>
            <button type="button" class="btn reset-all-button controlPanelButton">Reset All</button>
            <button type="button" class="btn playback-button controlPanelButton">Playback</button>
        </div>
    </div>

    <div class="footer btn-toolbar">

        <div class="btn-group">
            <button type="button" class="btn barGraphButton controlPanelButton">
                <label class="controlPanelButtonLabel"><input type="radio">Slow Motion</label>
            </button>
            <button type="button" class="btn barGraphButton controlPanelButton">
                <label class="controlPanelButtonLabel"><input type="radio">Normal</label>
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn barGraphButton controlPanelButton">
                <label class="controlPanelButtonLabel">&#10074;&#10074;</label>
            </button>
        </div>
        <!--<a href="#" data-role="button" data-inline="true" class="play-pause-button">&#10074;&#10074;</a>-->
    </div>

    <div id="hello-world-scene" style="width: 400px; height: 100px; position: absolute; top: 0;left: 0;"></div>

</div>